body {
    background:
    url('images/bg.png') repeat;

}

.page-wrapper {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);

    width: 600px;
    height: 400px;    
    }

.Titeltext h1 {
    position: absolute;
    top: 150px;
    left: 60px;

    color: white;
    font-size: 30px;
}

.Fließtext h2 {
    position: absolute;
    top:240px;
    left: 60px;

    margin-right: 220px;

    color: white;
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.animation {
    position: relative;
    top: -380px;
    left: 325px;
}

.stern1 {
    position:relative;
    top: -640px;
    left: 130px;
}
.stern2 {
    position:relative;
    top: -720px;
    left: 200px;
}

.stern3 {
    position:relative;
    top: -670px;
    left: 290px;
}

.busch {
    position: relative;
    top: -820px;
    left: -70px;
}

.gift {
    position: relative;
    left: 450px;
    top: 130px;
}
