body {
    background-color: black;
    font-size: medium;
}

div {
    margin: auto;
    width: 458px;    
}

button {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
}

#btn, #btn1, #btn2 {
    background-image: linear-gradient(to bottom, #e77aab, #e94592)
}

#btn3, #btn4, #btn5, #btn6 {
    background-image: linear-gradient(to bottom, #f1aa52, #e0861f)
}

#btn7, #btn8 {
    background-image: linear-gradient(to bottom, #508ac8, #3461ac)
}

button:hover{
 opacity: 0.7;
}


img {
    position: relative;
    margin-left: 154px;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    top: 30px;
    left: 42%;
}

a:hover{
    color: #e0861f;
}