*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: linear-gradient(120deg, #6f48c9, #36a2c9);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 1400px;
}

header {
    font-size: 13px;
}
h2 {
    font-size: 15px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    display: flex;
}

header, form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 5px;
    font-size: 20px;
    color: #444444;
    font-weight: lighter;
    border: none;
    background: white;
}

form button {
    color: #6f48c9;
    background:white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover{
    background:#6f48c9;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 25%;
    list-style: none;
}

.todo {
    margin: 10px ;
    background: white;
    color: #444444;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.todo li {
    flex: 1, 1;
}

.fa-square, .fa-check-square, .fa-trash {
    color: #6f48c9;
    border-style: none;
    padding: 8.5px;
    scale: 1.4;
    background-color: white;
    transition: all 0.3s ease;
}

.fa-trash:hover {
    background:#6f48c9;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-family: "Poppins", sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #6f48c9;
}