body {
    background:
    url('images/bg.png') repeat;

}

.page-wrapper {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);

    width: 600px;
    height: 400px;
    
    }

.Titeltext h1 {
    position: absolute;
    top: 20px;
    left: 60px;

    color: white;
    font-size: 30px;
}

/*Stern1*/

.stern1 {
    position: relative;
    top: -120px;
    left: 70px;
}

.stern1_hover {
    position: relative;
    top: -120px;
    opacity: 0;
}

.stern1_hover:hover {
    opacity: 1;
}

/*Stern2*/

.stern2 {
    position: relative;
    top: -240px;
    left: 70px;
}

.stern2_hover {
    position: relative;
    top: -240px;
    opacity: 0;
}

.stern2_hover:hover {
    opacity: 1;
}

/*Stern3*/

.stern3 {
    position: relative;
    top: -140px;
    left: 70px;
}

.stern3_hover {
    position: relative;
    top: -140px;
    opacity: 0;
}

.stern3_hover:hover {
    opacity: 1;
}

/*Stern4*/

.stern4 {
    position: relative;
    top: -210px;
    left: 70px;
}

.stern4_hover {
    position: relative;
    top: -210px;
    opacity: 0;
}

.stern4_hover:hover {
    opacity: 1;
}